.tl-row:hover.current .tl-highlight,
.tl-row.contextmenu-active.current .tl-highlight,
.tl-row.current .tl-cell:not(.tl-number),
.tl-row.current .tl-cell a:link,
.tl-row.current .tl-highlight {
  color: $primary;
}

[dir] .nav > li.active > a::after {
  background-color: $primary-dark;
  color: $text-color-dark;
}

.tl-sort-asc::after,
.tl-sort-desc::after {
  color: $primary-dark;
}

.TableCellSong--track-is-playing .TableCellSong__featuredArtist,
.TableCellSong--track-is-playing .TableCellSong__text-truncator,
.TableCellSong--track-is-playing .TableCellSong__track-name,
.TableCellDuration--track-is-playing {
  color: $primary;
}

[dir] .Button--style-green:not(:disabled).Button--is-strong-style,
[dir] .Button--style-green:not(:disabled):hover {
  background: $primary;
}
[dir] .Button--style-green:not(:disabled):hover:active {
  background: $primary-dark;
}
