[dir] .sidebar,
[dir] .sidebar .sidebar-navbar,
[dir] .sidebar .sidebar-navbar.sidebar-scroll-element,
[dir] .LeftSidebar__scroll-section {
  background-color: $bg-1;
}

.SidebarListItemLink--is-highlighted:hover,
.SidebarListItemLink--is-highlighted:link,
.SidebarListItemLink--is-highlighted:visited {
  color: $text-color-darker;
}
.SidebarListItemLink:link,
.SidebarListItemLink:visited {
  color: $text-color;
}

.LeftSidebarNewPlaylistButton__button,
.SidebarList__title {
  color: $text-color-darker;
}
[dir] .LeftSidebarNewPlaylistButton__button {
  border-top-color: $border-color;
}

[dir] .sidebar #offline-global-progress {
  background-color: $bg-2;
  border-top: 1px solid $border-color;
  color: $text-color;
}
[dir] .sidebar #offline-global-progress p {
  background-color: $primary;
}
