[dir] .sticky-clone .tl-header,
[dir] .Table__sticky-header {
  background: $bg-2;
}
.tl-header th {
  color: $text-color-darker;
}
[dir] .tl-header th,
[dir] .tl-cell,
.TableHeaderCell {
  border-top-color: $border-color;
}
